<ion-header>
  <ion-toolbar>
    <ion-title>Add/Edit Model</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Model Name</ion-label>
      <ion-input [(ngModel)]="model.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Model Value</ion-label>
      <ion-input [(ngModel)]="model.value"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>API Key</ion-label>
      <ion-select [(ngModel)]="model.apiKeyIndex" interface="action-sheet"> 
        <ion-select-option *ngFor="let key of apiKeys; let i = index" [value]="i">
          {{ key.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>API Provider</ion-label>
      <ion-select [(ngModel)]="model.apiProviderIndex" interface="action-sheet"> 
        <ion-select-option *ngFor="let provider of apiProviders; let i = index" [value]="i">
          {{ provider.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" (click)="saveModel()">Save</ion-button>
  </div>
</ion-content>