<ion-header class="floating-header" [translucent]="true">
  <ion-toolbar>
    <ion-title>Llm Chat</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSettings()">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item *ngFor="let message of messages">
      <ion-label
        [class.user-message]="message.role === 'user'"
        [class.assistant-message]="message.role === 'assistant'"
      >
        <span class="message-sender">
          {{ message.role === 'user' ? 'User' : model }}: 
        </span>
        <p class="message-content">{{ message.content }}</p> 
      </ion-label>
    </ion-item>
    <ion-item *ngIf="isStreaming">
      <ion-label class="writing-message">
        <span class="message-sender">{{ model }}: </span> 
        <p class="message-content">Writing...</p> 
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="toggleSessionSidebar()">
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="toggleCreateSessionSidebar()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="bottom-bar">
    <ion-toolbar>
      <ion-input
        [(ngModel)]="userInput"
        placeholder="Enter your message..."
      ></ion-input>
      <ion-button
        class="send-button"
        (click)="sendMessage()"
        slot="end"
        [disabled]="isStreaming || userInput === ''" 
      >
        Send
      </ion-button>
    </ion-toolbar>
  </div>
</ion-content>

<ion-modal
  [isOpen]="isSessionSidebarOpen"
  class="session-sidebar"
  [presentingElement]="presentingElement"
  [canDismiss]="true"
  (ionModalDidDismiss)="isSessionSidebarOpen = false"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Chat Sessions</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="toggleSessionSidebar()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item
          *ngFor="let session of sessions; let i = index"
          (click)="switchSession(i)"
        >
          {{ session.name }}
          <ion-button
            slot="end"
            fill="clear"
            color="danger"
            (click)="deleteSession(i)"
          >
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal
  [isOpen]="isCreateSessionSidebarOpen"
  class="create-session-sidebar"
  [presentingElement]="presentingElement"
  [canDismiss]="true"
  (ionModalDidDismiss)="isCreateSessionSidebarOpen = false"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>New Chat Session</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="toggleCreateSessionSidebar()">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-label position="floating">Session Name</ion-label>
        <ion-input [(ngModel)]="newSessionName"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="confirmNewSession()">Create</ion-button>
    </ion-content>
  </ng-template>
</ion-modal>