ion-content {
  --ion-background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  height: 100vh // Set content height to 100% 
}

ion-header {

  box-shadow: none;
  &.floating-header {
    --ion-background-color: transparent;
    --ion-text-color: azure;
    ion-toolbar {
      --padding-top: 16px;
      --padding-bottom: 16px;
    }
  }
}
ion-toolbar {
  --background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 50px;
  padding-right: 10px;
  padding-left: 10px;
}

ion-list {
  flex: 1;
  padding: 16px;
  overflow-y: auto; 
}

ion-item {
  --padding-start: 0;
  --padding-end: 0;
  

  ion-label {
    padding: 12px 16px;
    border-radius: 8px;
    width: 100%;
    text-align: left;

    &.user-message {
      background-color: #303030; 
      color: #64b5f6; 

      .message-sender {
        color: #64b5f6; 
        margin-right: 8px;
      }
    }

    &.assistant-message {
      background-color: #303030; 
      color: #e0f7fa;
      padding-bottom: 50px; 

      .message-sender {
        color: #e0f7fa;
      }
      
      .message-content {
        white-space: pre-wrap; // Allow line breaks and preserve whitespace
      }
      
      .writing-message {
        text-align: center;
        font-style: italic;
        color: gray;
      }
    }
  }
}

ion-fab {
  margin-bottom: 84px; // Adjust if bottom bar height is different

}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  padding: 16px;
  // box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;

  .fab-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;

    ion-fab-button {
      --background: #64b5f6; 
      --color: #fff;
      // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  ion-toolbar {
    display: flex;
    align-items: center;

    ion-input {
      --padding-start: 16px;
      --padding-end: 16px;
      border-radius: 20px;
      flex: 1;
      margin-right: 8px;
      border: 1px solid #ddd; 
      background-color: transparent;
    }

    .send-button {
      --background: #ff69b4;
      --color: #fff;
      border-radius: 20px;
      padding: 8px 16px;
    }
  }
}

ion-fab-button { 
  --background: #ff69b4;
  --color: #fff;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.session-sidebar, 
.create-session-sidebar {
  --width: 100%;
  --min-width: 320px;
  --border-radius: 10px;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  ion-header {
    --ion-background-color: #1e1e1e
  }

  ion-content {
    --ion-background-color: #1e1e1e
  }
} 
